﻿@charset "UTF-8";
/**************************************

base.scss

***************************************/
/* ---------------------------------------------------------
スタイルリセット
----------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-style: normal; font-weight: normal; }

h1, h2, h3, h4, h5, h6, td, th, p, ul, li, dt, dd { font-size: 1em; }

ul li { list-style: none; }

article, header, footer, aside, figure, figcaption, nav, section { display: block; }

body { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

img { vertical-align: bottom; }

/* ---------------------------------------------------------
変数
----------------------------------------------------------*/
/*break point
-----------------------*/
/*color
-----------------------*/
/*font family
-----------------------*/
/* ---------------------------------------------------------
mixin
----------------------------------------------------------*/
/*メディアクエリ
-----------------------*/
/*  clearfix
-----------------------*/
/*  font-size
-----------------------*/
/*  transition
-----------------------*/
/* ---------------------------------------------------------
初期設定
----------------------------------------------------------*/
html { color: #1f1f1f; font-size: 14px; line-height: 1.2; letter-spacing: 0.03em; }

body { font-family: "Roboto", Helvetica, Arial, Verdana, "游ゴシック", "游ゴシック体", "Yu Gothic", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif; }

html, body { position: relative; min-width: 1150px; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

a { text-decoration: none; color: #000; }

img { width: 100%; height: auto; vertical-align: middle; }

input { outline: 0; }

table { width: 100%; border-collapse: collapse; }

select::-ms-expand { display: none; }

/****************************
	FONTS
****************************/
/**************************************

common.scss

***************************************/
html .pc { display: block; }
html .sp { display: none; }
html .main__container { display: table; width: 100%; min-height: calc(100vh - 54.5px); }
html .main__container #global__sidebar, html .main__container .content__main { display: table-cell; vertical-align: top; }
html .main__container .content__main { background: #fbfcff; }
html .main__container .content__main .content__inner { position: relative; display: table; width: 100%; min-width: 1000px; min-height: calc(100vh - 100px); padding-bottom: 15px; overflow: hidden; }
html .main__container .content__main .content__inner .inner__container { display: table; vertical-align: top; }
html .main__container .content__main .content__inner .inner__container::before, html .main__container .content__main .content__inner .inner__container::after { content: ''; display: table; }
html .main__container .content__main .content__inner .inner__container::after { clear: both; }
html .main__container .content__main .content__inner .inner__container .column__item { float: left; display: block; width: calc(50% - 7.5px); vertical-align: top; box-sizing: border-box; }
html .main__container .content__main .content__inner .inner__container .column__item:first-child { margin-right: 15px; }
html .main__container .content__main .content__inner .inner__container { width: calc(100% - 80px); margin-left: auto; margin-right: auto; }
html .main__container .content__main .content__inner .inner__container h1 { display: inline-block; margin-top: 32px; color: #424242; font-size: 16px; font-weight: bold; line-height: 1.2; }
html .main__container .content__main .content__inner .inner__container .container__inner { margin-top: 22px; width: 100%; padding: 20px 35px 30px 35px; background: #fff; box-sizing: border-box; border-radius: 4px; box-shadow: 0px 0px 11.64px 0.36px rgba(21, 27, 29, 0.06); }
html .main__container .content__main .content__inner .inner__container .container__inner h2 { position: relative; color: #367193; font-size: 16px; font-weight: bold; line-height: 1; letter-spacing: 0.03em; padding-bottom: 15px; border-bottom: 1px solid #e5e5e5; }
html .main__container .content__main .content__inner .inner__container .container__inner h3 { margin-top: 15px; font-size: 18px; font-weight: bold; }
html .main__container .content__main .content__inner .inner__container .container__inner h3 + p { margin-top: 12px; }
html .main__container .content__main .content__inner .inner__container .container__inner p.date__header { margin-top: 30px; }
html .main__container .content__main .content__inner .inner__container .container__inner p + .datetimepicker { width: 100%; margin-top: 15px; padding: 10px; font-family: "Roboto", sans-serif; font-weight: normal !important; letter-spacing: 0.4em; font-size: 16px; border: 1px solid #e5e5e5; box-sizing: border-box; }
html .main__container .content__main .content__inner .inner__container .container__inner ul { margin-top: 30px; }
html .main__container .content__main .content__inner .inner__container .container__inner ul li { line-height: 1; }
html .main__container .content__main .content__inner .inner__container .container__inner ul li:not(:first-child) { margin-top: 15px; }
html .main__container .content__main .content__inner .inner__container .container__inner .select__container { position: relative; }
html .main__container .content__main .content__inner .inner__container .container__inner .select__container::before { content: ''; position: absolute; top: 50%; transform: translateY(-50%); right: 20px; width: 0; height: 0; border-style: solid; border-width: 9px 7.5px 0 7.5px; border-color: #999999 transparent transparent transparent; z-index: 9; }
html .main__container .content__main .content__inner .inner__container .container__inner select { width: 100%; padding: 15px 20px; border: 1px solid #e5e5e5; background: #fff; -webkit-appearance: none; border-radius: 0; }
html .main__container .content__main .content__inner .inner__container .container__inner .btn__status { display: inline-block; margin-top: 20px; padding: 4px 6px; background: #367193; color: #fff; font-size: 13px; }
html .main__container .content__main .content__inner .inner__container .container__inner .status__container { margin-top: 30px; }
html .main__container .content__main .content__inner .inner__container .container__inner .status__container::before, html .main__container .content__main .content__inner .inner__container .container__inner .status__container::after { content: ''; display: table; }
html .main__container .content__main .content__inner .inner__container .container__inner .status__container::after { clear: both; }
html .main__container .content__main .content__inner .inner__container .container__inner .status__container p { font-size: 18px; font-weight: bold; }
html .main__container .content__main .content__inner .inner__container .container__inner .status__container .desc { float: left; }
html .main__container .content__main .content__inner .inner__container .container__inner .status__container .stats { float: right; color: #367193; }
html .main__container .content__main .content__inner .inner__container .container__inner .btn__container { margin-top: 30px; }
html .main__container .content__main .content__inner .inner__container .container__inner .btn__container::before, html .main__container .content__main .content__inner .inner__container .container__inner .btn__container::after { content: ''; display: table; }
html .main__container .content__main .content__inner .inner__container .container__inner .btn__container::after { clear: both; }
html .main__container .content__main .content__inner .inner__container .container__inner .btn__container a { float: left; }
html .main__container .content__main .content__inner .inner__container .container__inner .btn__container.btn__container--btnThree a { width: calc(33.33% - 13.33px); }
html .main__container .content__main .content__inner .inner__container .container__inner .btn__container.btn__container--btnThree a:not(:last-child) { margin-right: 20px; }
html .main__container .content__main .content__inner .inner__container .container__inner .btn__container.btn__container--btnTwo a { width: calc(50% - 10px); }
html .main__container .content__main .content__inner .inner__container .container__inner .btn__container.btn__container--btnTwo a:not(:last-child) { margin-right: 20px; }
html .main__container .content__main .content__inner .inner__container .container__inner02 h2 { margin-left: -35px; margin-right: -35px; }
html .main__container .content__main .content__inner .inner__container .container__inner02 h2 span { padding: 0 35px; color: #424242; font-weight: bold; }
html .main__container .content__main .content__inner .inner__container .list__template { margin-top: 30px; width: 100%; box-shadow: 0px 0px 11.64px 0.36px rgba(21, 27, 29, 0.06); }
html .main__container .content__main .content__inner .inner__container .list__template tr th, html .main__container .content__main .content__inner .inner__container .list__template tr td { padding: 20px 35px; font-size: 16px; box-sizing: border-box; }
html .main__container .content__main .content__inner .inner__container .list__template tr th .custom__checkbox .container, html .main__container .content__main .content__inner .inner__container .list__template tr td .custom__checkbox .container { padding-left: 0; width: 20px; height: 20px; }
html .main__container .content__main .content__inner .inner__container .list__template tr th:first-child, html .main__container .content__main .content__inner .inner__container .list__template tr td:first-child { width: 92px; }
html .main__container .content__main .content__inner .inner__container .list__template tr td .status { width: 50px; padding: 4px 0; font-size: 13px; }
html .main__container .content__main .content__inner .inner__container .list__template tr td:nth-of-type(-n+3), html .main__container .content__main .content__inner .inner__container .list__template tr td:last-child { text-align: center; }
html .main__container .content__main .content__inner .inner__container .list__template tr td:nth-of-type(-n+3) .status, html .main__container .content__main .content__inner .inner__container .list__template tr td:last-child .status { margin-left: auto; margin-right: auto; }
html .main__container .content__main .content__inner .inner__container .list__template tr:nth-of-type(odd) th, html .main__container .content__main .content__inner .inner__container .list__template tr:nth-of-type(odd) td { background: #fff; }
html .main__container .content__main .content__inner .inner__container .list__template tr:nth-of-type(even) th, html .main__container .content__main .content__inner .inner__container .list__template tr:nth-of-type(even) td { background: #f6fafd; }
html .main__container .content__main .content__inner .inner__container .list__template tr:first-child th { position: relative; color: #367193; text-align: center; }
html .main__container .content__main .content__inner .inner__container .list__template tr:first-child th:not(:last-child)::after { position: absolute; top: 50%; transform: translateY(-50%); right: 0; width: 1px; height: 25%; content: ''; border-right: 1px solid #e5e5e5; }
html .main__container .content__main .content__inner .inner__container .list__template02 tr th:first-child, html .main__container .content__main .content__inner .inner__container .list__template02 tr td:first-child { width: 70%; text-align: left; }
html .main__container .content__main .content__inner .inner__container .list__template02 tr th { border-bottom: 1px solid #e5e5e5; }
html .main__container .content__main .content__inner .inner__container .list__template03 tr td:nth-of-type(2) { width: 220px; }
html .main__container .content__main .content__inner .inner__container .list__template03 tr td:nth-of-type(3) { text-align: left; }
html .main__container .content__main .content__inner .inner__container .pagination__container { display: block; margin-top: 19px; }
html .main__container .content__main .content__inner .inner__container .pagination__container::before, html .main__container .content__main .content__inner .inner__container .pagination__container::after { content: ''; display: table; }
html .main__container .content__main .content__inner .inner__container .pagination__container::after { clear: both; }
html .main__container .content__main .content__inner .inner__container .pagination__container .column__container { width: 175px; float: right; display: table; }
html .main__container .content__main .content__inner .inner__container .pagination__container .column__container .column__item { float: none; width: 50%; display: table-cell; vertical-align: middle; font-weight: 500; }
html .main__container .content__main .content__inner .inner__container .pagination__container .column__container .column__item::before, html .main__container .content__main .content__inner .inner__container .pagination__container .column__container .column__item::after { content: ''; display: table; }
html .main__container .content__main .content__inner .inner__container .pagination__container .column__container .column__item::after { clear: both; }
html .main__container .content__main .content__inner .inner__container .pagination__container .column__container .column__item .current { color: #367193; font-weight: 500; }
html .main__container .content__main .content__inner .inner__container .pagination__container .column__container .column__item .nav__btn { float: left; width: 40px; padding: 9px 0; }
html .main__container .content__main .content__inner .inner__container .pagination__container .column__container .column__item .nav__btn:first-child { margin-right: 5px; }
html .main__container .content__main footer .footer__copyright { padding: 15px 0; font-size: 13px; }
html .main__container .texteditor__container { margin-top: 15px; width: 100%; min-height: 382px; padding: 10px; background: #f1f1f1; box-sizing: border-box; }
html .main__container .texteditor__container + .custom__checkbox { margin-top: 32px; }
html .main__container .texteditor__container + .custom__checkbox .container { font-weight: normal; }
html .main__container .texteditor__container + .custom__checkbox .checkmark { top: -2px; }
html .main__container .listtemplate__container { margin-top: 30px; }
html .main__container .listtemplate__container .list__title { display: block; color: #367193; font-weight: bold; }
html .main__container .listtemplate__container > ul { margin-top: 20px !important; }
html .main__container .listtemplate__container > ul li { margin-top: 20px; }
html .main__container .listtemplate__container > ul li .custom__checkbox .container { font-weight: normal; }
html .main__container .listtemplate__container > ul li .custom__checkbox .checkmark { top: -2px; border: 1px solid #adadad; }
html .main__container .listtemplate__container > ul li ul { margin-top: 20px !important; margin-left: 30px; }
html .main__container .action__container { margin-top: 30px; width: 100%; }
html .main__container .action__container::before, html .main__container .action__container::after { content: ''; display: table; }
html .main__container .action__container::after { clear: both; }
html .main__container .action__container .action__column { float: left; width: 50%; }
html .main__container .action__container .action__column:last-child { position: relative; }
html .main__container .action__container .action__column:last-child input, html .main__container .action__container .action__column:last-child a { float: right; }
html .main__container .action__container .action__column:last-child input { margin-right: 15px; }
html .main__container .action__container .action__column:last-child .btn-primary-fill, html .main__container .action__container .action__column:last-child .btn-primary-invert { padding: 13px 20px; width: auto; min-width: 170px; }
html .main__container .action__container .action__column:last-child .btn-primary-fill:nth-of-type(2), html .main__container .action__container .action__column:last-child .btn-primary-invert:nth-of-type(2) { margin-right: 15px; }
html .main__container .action__container .action__column:last-child .popup__container { display: none; position: absolute; right: 0; top: calc(100% + 5px); width: 425px; height: 308px; padding: 30px 35px; background: #fff; box-shadow: 0px 0px 11.64px 0.36px rgba(21, 27, 29, 0.06); box-sizing: border-box; z-index: 10; }
html .main__container .action__container .action__column:last-child .popup__container p:nth-of-type(2) { margin-top: 15px; }
html .main__container .action__container .action__column:last-child .popup__container input, html .main__container .action__container .action__column:last-child .popup__container select { float: none; width: 100%; padding: 18px 20px; box-sizing: border-box; }
html .main__container .action__container .action__column:last-child .popup__container input[type="text"] { margin-top: 15px; color: #367193; text-decoration: underline; }
html .main__container .action__container .action__column:last-child .popup__container .select__container { margin-top: 15px; position: relative; }
html .main__container .action__container .action__column:last-child .popup__container .select__container::before { content: ''; position: absolute; top: 50%; transform: translateY(-50%); right: 20px; width: 0; height: 0; border-style: solid; border-width: 9px 7.5px 0 7.5px; border-color: #999999 transparent transparent transparent; z-index: 9; }
html .main__container .action__container .action__column:last-child .popup__container .select__container select { background: #fff; border-radius: 0; -webkit-appearance: none; }
html .main__container .action__container .action__column:last-child .popup__container input[type="submit"] { margin-top: 20px; }
html .main__container .action__container .action__column:last-child .popup__container input[type="submit"]:hover { background: #367193; color: #fff; opacity: .8; }
html .main__container .btn-primary-fill { display: block; width: 340px; background: #367193; padding: 18px 0; color: #fff; text-align: center; border: 1px solid #367193; box-sizing: border-box; transition: all .2s linear; }
html .main__container .btn-primary-fill:hover, html .main__container .btn-primary-fill.active { border: 1px solid #367193; background: #fff; color: #367193; }
html .main__container .btn-primary-invert { display: block; width: 340px; background: #fff; padding: 18px 0; color: #367193; text-align: center; border: 1px solid #367193; box-sizing: border-box; transition: all .2s linear; }
html .main__container .btn-primary-invert:hover, html .main__container .btn-primary-invert.active { background: #367193; color: #fff; border: 1px solid #367193; }
html .main__container .btn-red-invert { display: block; width: 150px; background: transparent; padding: 13px 0; color: #e60012; font-size: 14px; text-align: center; border: 1px solid #e60012; box-sizing: border-box; transition: all .2s linear; }
html .main__container .btn-red-invert:hover, html .main__container .btn-red-invert.active { background: #e60012; color: #fff; border: 1px solid #fff; }
html .main__container table tr th { font-size: 16px; font-weight: bold; }
html .main__container table tr th, html .main__container table tr td { text-align: left; }
html .main__container table tr td input, html .main__container table tr td textarea { width: 100%; margin-top: 15px; padding: 15px; font-size: 16px; background: #f8f9fa; border: 1px solid #e5e5e5; box-sizing: border-box; }
html .main__container table tr td textarea { resize: horizontal; height: 100px; }
html .main__container table tr td p { margin-top: 10px; }
html .main__container table tr:not(:first-child) th { padding-top: 30px; }
html .main__container .custom__radio { margin-top: 30px; /* Hide the browser's default radio button */ /* Create a custom radio button */ /* On mouse-over, add a grey background color */ /* When the radio button is checked, add a blue background */ /* Create the indicator (the dot/circle - hidden when not checked) */ /* Show the indicator (dot/circle) when checked */ /* Style the indicator (dot/circle) */ }
html .main__container .custom__radio .container { display: block; position: relative; padding-top: 1px; padding-left: 35px; margin-bottom: 24px; cursor: pointer; font-size: 16px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
html .main__container .custom__radio .container input { position: absolute; opacity: 0; cursor: pointer; }
html .main__container .custom__radio .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; background-color: #fff; border: 1px solid #367193; border-radius: 50%; box-sizing: border-box; }
html .main__container .custom__radio .container:hover input ~ .checkmark { background-color: #ccc; }
html .main__container .custom__radio .container input:checked ~ .checkmark { background-color: #fff; }
html .main__container .custom__radio .checkmark:after { content: ""; position: absolute; display: none; }
html .main__container .custom__radio .container input:checked ~ .checkmark:after { display: block; }
html .main__container .custom__radio .container .checkmark:after { top: 3.5px; left: 3.2px; width: 12.5px; height: 12.5px; border-radius: 50%; background: #367193; }
html .main__container .custom__checkbox { /* Hide the browser's default checkbox */ /* Create a custom checkbox */ /* When the checkbox is checked, add a blue background */ /* Create the checkmark/indicator (hidden when not checked) */ /* Show the checkmark when checked */ /* Style the checkmark/indicator */ }
html .main__container .custom__checkbox .container { display: block; position: relative; padding-left: 30px; font-weight: bold; font-size: 14px; line-height: 1.4; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }
html .main__container .custom__checkbox .container input { position: absolute; opacity: 0; cursor: pointer; }
html .main__container .custom__checkbox .checkmark { position: absolute; top: 0; left: 0; height: 18px; width: 18px; border: 1px solid #e5e5e5; transition: all .2s linear; }
html .main__container .custom__checkbox .container input:checked ~ .checkmark { background-color: #367193; border: 1px solid #367193 !important; }
html .main__container .custom__checkbox .checkmark:after { content: ""; position: absolute; display: none; }
html .main__container .custom__checkbox .container input:checked ~ .checkmark:after { display: block; }
html .main__container .custom__checkbox .container .checkmark:after { left: 5px; top: 2px; width: 4px; height: 8px; border: solid #fff; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
html .main__container .custom__upload { margin-top: 20px; position: relative; overflow: hidden; display: inline-block; }
html .main__container .custom__upload:hover .btn__file { background: #367193; color: #fff; }
html .main__container .custom__upload:hover .btn__file::before { background: url("../img/common/ico_upload_hover.png"); background-position: center; background-size: 100% auto; }
html .main__container .custom__upload .btn__file { position: relative; width: 355px; padding: 13px 0 13px 100px; color: #367193; font-size: 14px; font-weight: bold; background-color: white; border: 1px solid #367193; text-align: left; transition: all .2s linear; }
html .main__container .custom__upload .btn__file::before { content: ''; position: absolute; top: 50%; left: 77px; transform: translateY(-50%); width: 14px; height: 17px; background: url("../img/common/ico_upload.png"); background-position: center; background-size: 100% auto; background-repeat: no-repeat; }
html .main__container .custom__upload .btn__file.filled { background: #367193; color: #fff; }
html .main__container .custom__upload .btn__file.filled::before { background: url("../img/common/ico_upload_hover.png"); background-position: center; background-size: 100% auto; }
html .main__container .custom__upload input[type=file] { width: 100%; height: 100%; padding: 0; position: absolute; left: 0; top: 0; opacity: 0; }
html .main__container .custom__upload input[type=file] { width: 100%; height: 100%; padding: 0; position: absolute; left: 0; top: 0; opacity: 0; }

/**************************************

header.scss

***************************************/
header { width: 100%; padding-left: 41px; background: #fff; border-bottom: 1px solid #e7e7e8; box-sizing: border-box; }
header .header__container { width: 100%; }
header .header__container::before, header .header__container::after { content: ''; display: table; }
header .header__container::after { clear: both; }
header .header__container .logo, header .header__container .txt__banner { padding: 12px 0; float: left; }
header .header__container .logo { display: block; }
header .header__container .logo img { width: 178px; }
header .header__container .txt__banner { margin-top: 5px; margin-left: 20px; font-family: "Roboto", sans-serif; color: #367193; font-size: 16px; font-weight: 500; }
header .header__container .logout__container { display: block; float: right; height: 100%; padding: 0 18px; border-left: 1px solid #e5e5e5; transition: all .2s linear; }
header .header__container .logout__container:hover { background: #e5e5e5; }
header .header__container .logout__container img { margin: 8px auto 0; display: block; width: 18px; }
header .header__container .logout__container span { margin-top: 8px; margin-bottom: 5px; display: block; font-size: 13px; color: #666; }

/**************************************

footer.scss

***************************************/
footer .footer__copyright { font-family: "Roboto", sans-serif; display: block; padding: 13px 0 15px; color: #999; font-size: 13px; text-align: center; }

/**************************************

login.scss

***************************************/
.login main { width: 100vw; min-width: 1150px; height: calc(100vh - 44px); min-height: 800px; }
.login main .access__container { width: 100%; min-width: 1150px; height: 100%; display: table; position: relative; }
.login main .access__container .input__container { display: table-cell; width: 100%; position: relative; vertical-align: middle; }
.login main .access__container .input__container .inner__container { display: block; width: 430px; margin-left: auto; margin-right: auto; text-align: left; }
.login main .access__container .input__container .inner__container .logo { display: block; width: 100px; margin: 0 auto; }
.login main .access__container .input__container .inner__container .login__container { margin-top: 50px; }
.login main .access__container .input__container .inner__container .login__container table { margin-top: 50px; }
.login main .access__container .input__container .inner__container .login__container table tr td > span { font-size: 16px; margin-left: 25px; }
.login main .access__container .input__container .inner__container .login__container table tr td .forgotpw__div { margin-top: 30px; margin-bottom: 50px; width: 100%; border-left: 4px solid #367193; padding-left: 20px; box-sizing: border-box; }
.login main .access__container .input__container .inner__container .login__container table tr td .forgotpw__div h2 { color: #367193; font-size: 18px; font-weight: bold; }
.login main .access__container .input__container .inner__container .login__container table tr td .forgotpw__div p { margin-top: 15px; font-size: 13px; }
.login main .access__container .input__container .inner__container .login__container table .user__container, .login main .access__container .input__container .inner__container .login__container table .password__container, .login main .access__container .input__container .inner__container .login__container table .email__container { position: relative; width: 100%; margin: 15px auto; }
.login main .access__container .input__container .inner__container .login__container table .user__container input, .login main .access__container .input__container .inner__container .login__container table .password__container input, .login main .access__container .input__container .inner__container .login__container table .email__container input { width: 100%; height: 45px; padding: 5px 15px 5px 55px; background: transparent; border: 0; font-family: "Roboto", sans-serif; font-size: 16px; line-height: 2.8; border: 2px solid #367193; box-sizing: border-box; }
.login main .access__container .input__container .inner__container .login__container table .user__container .invalid-feedback, .login main .access__container .input__container .inner__container .login__container table .password__container .invalid-feedback, .login main .access__container .input__container .inner__container .login__container table .email__container .invalid-feedback { margin-top: 10px; display: block; line-height: 1.3; }
.login main .access__container .input__container .inner__container .login__container table .user__container::before, .login main .access__container .input__container .inner__container .login__container table .password__container::before, .login main .access__container .input__container .inner__container .login__container table .email__container::before { content: ''; position: absolute; top: 23px; -webkit-transform: translateY(-50%); background-size: 100% auto; background-position: center; background-repeat: no-repeat; }
.login main .access__container .input__container .inner__container .login__container table .user__container::before { left: 24px; width: 15px; height: 17px; background-image: url("../img/login/ico_user.png"); }
.login main .access__container .input__container .inner__container .login__container table .password__container::before { left: 25px; width: 12px; height: 16px; background-image: url("../img/login/ico_password.png"); }
.login main .access__container .input__container .inner__container .login__container table .email__container::before { left: 25px; width: 17px; height: 13px; background-image: url("../img/login/ico_mail.png"); }
.login main .access__container .input__container .inner__container .login__container table .custom__checkbox { margin-top: 5px; padding: 15px 0 0 18px; /* Hide the browser's default checkbox */ /* Create a custom checkbox */ /* When the checkbox is checked, add a blue background */ /* Create the checkmark/indicator (hidden when not checked) */ /* Show the checkmark when checked */ /* Style the checkmark/indicator */ }
.login main .access__container .input__container .inner__container .login__container table .custom__checkbox .container { display: block; position: relative; padding-left: 30px; cursor: pointer; font-size: 14px; line-height: 1.7; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.login main .access__container .input__container .inner__container .login__container table .custom__checkbox .container input { position: absolute; opacity: 0; cursor: pointer; }
.login main .access__container .input__container .inner__container .login__container table .custom__checkbox .checkmark { position: absolute; top: 0; left: 0; height: 18px; width: 18px; border: 1px solid #e5e5e5; transition: all .2s linear; }
.login main .access__container .input__container .inner__container .login__container table .custom__checkbox .container input:checked ~ .checkmark { background-color: #367193; border: 1px solid #367193; }
.login main .access__container .input__container .inner__container .login__container table .custom__checkbox .checkmark:after { content: ""; position: absolute; display: none; }
.login main .access__container .input__container .inner__container .login__container table .custom__checkbox .container input:checked ~ .checkmark:after { display: block; }
.login main .access__container .input__container .inner__container .login__container table .custom__checkbox .container .checkmark:after { left: 5px; top: 2px; width: 4px; height: 8px; border: solid #fff; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.login main .access__container .input__container .inner__container .login__container table p.txt__error { margin-top: 25px; color: #e60012; font-size: 12.5px; line-height: 1.5; visibility: hidden; }
.login main .access__container .input__container .inner__container .login__container table p.txt__error::before { content: '*'; }
.login main .access__container .input__container .inner__container .login__container table .forgotpw__submit, .login main .access__container .input__container .inner__container .login__container table .login__submit { margin-top: 45px; width: 100%; padding: 17px 0; color: #fff; font-size: 17px; background: #367193; border: 1px solid #367193; transition: all .2s linear; }
.login main .access__container .input__container .inner__container .login__container table .forgotpw__submit:hover, .login main .access__container .input__container .inner__container .login__container table .login__submit:hover { background: #fff; color: #367193; }
.login main .access__container .input__container .inner__container .login__container table .forgotpw__submit.btn__changepw, .login main .access__container .input__container .inner__container .login__container table .login__submit.btn__changepw { margin-top: 115px; }
.login main .access__container .input__container .inner__container .login__container table .forgotpw__submit { margin-top: 15px; }
.login main .access__container .input__container .inner__container .login__container.forgotpw__container { margin-top: 125px; }
.login main .access__container .input__container .inner__container .login__container.forgotpw__container input[type="submit"] { margin-top: 127px; }
.login main .access__container .input__container .inner__container .panorama__forgotpw { position: absolute; left: 0; right: 0; bottom: 40px; margin: 0 auto; text-align: center; color: #fff; transition: all .2s linear; }
.login main .access__container .input__container .inner__container .panorama__forgotpw:hover { opacity: .7; }
.login main .access__container .bottom__container { position: absolute; bottom: 15px; left: 0; right: 0; text-align: center; z-index: 10; }
.login main .access__container .bottom__container .forgot__pw { color: #367294; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.login footer { border-top: 1px solid #e5e5e5; }

/**************************************

global-sidebar.scss

***************************************/
#global__sidebar { width: 230px; min-width: 230px; height: 100%; background: #367193; position: relative; transition: all .2s linear; }
#global__sidebar.js--sidebar { width: 40px; min-width: 40px; }
#global__sidebar.js--sidebar .sidebar__nav .sidebar__action { background-image: url("../img/common/ico_sidebarnav_right.png"); background-repeat: no-repeat; background-position: center; }
#global__sidebar.js--sidebar .sidebar__container { left: -230px; }
#global__sidebar .sidebar__nav .sidebar__action { display: block; margin-left: auto; width: 40px; height: 40px; border: 1px solid rgba(255, 255, 255, 0.1); background-image: url("../img/common/ico_sidebarnav_left.png"); background-repeat: no-repeat; background-position: center; background-size: 12px auto; box-sizing: border-box; }
#global__sidebar .sidebar__container { position: absolute; top: 40px; left: 0; display: block; width: 230px; background-color: #367193; transition: all .2s linear; }
#global__sidebar .sidebar__container ul { position: relative; z-index: 7; }
#global__sidebar .sidebar__container ul li:not(:first-child) a { border-top: 1px solid rgba(255, 255, 255, 0.1); box-sizing: border-box; }
#global__sidebar .sidebar__container ul li a { position: relative; display: block; padding: 30px 0 30px 35px; text-align: left; transition: all .2s linear; }
#global__sidebar .sidebar__container ul li a::before, #global__sidebar .sidebar__container ul li a::after { content: ''; display: table; }
#global__sidebar .sidebar__container ul li a::after { clear: both; }
#global__sidebar .sidebar__container ul li a.two--p { padding: 20px 0 20px 35px; }
#global__sidebar .sidebar__container ul li a.js--navmenu::before { position: absolute; display: block; width: 12px; height: 6.5px; top: 50%; right: 23px; background: url("../img/common/ico_arrow_down.png"); background-position: center; background-size: 100% auto; transform: translateY(-50%); background-repeat: no-repeat; }
#global__sidebar .sidebar__container ul li a.js--navmenu.js--navmenuactive::before { background: url("../img/common/ico_arrow_up.png"); background-position: center; background-size: 100% auto; background-repeat: no-repeat; }
#global__sidebar .sidebar__container ul li a:hover { background: #4490bb; }
#global__sidebar .sidebar__container ul li a figure, #global__sidebar .sidebar__container ul li a p { float: left; }
#global__sidebar .sidebar__container ul li a p { margin-left: 10px; font-size: 15px; color: #fff; line-height: 1.3; }
#global__sidebar .sidebar__container ul li a figure { margin-left: auto; margin-right: auto; }
#global__sidebar .sidebar__container ul li a.dashboard__container img { width: 21px; }
#global__sidebar .sidebar__container ul li a.dashboard__container p { margin-top: 1px; }
#global__sidebar .sidebar__container ul li a.transpo__container img { width: 15px; }
#global__sidebar .sidebar__container ul li a.transpo__container p { margin-top: 2px; margin-left: 15px; }
#global__sidebar .sidebar__container ul li a.info__container img { width: 17.5px; }
#global__sidebar .sidebar__container ul li a.info__container p { margin-top: 1px; margin-left: 14px; }
#global__sidebar .sidebar__container ul li a.voice__container img { width: 21.5px; }
#global__sidebar .sidebar__container ul li a.cont__container img { width: 21.5px; }
#global__sidebar .sidebar__container ul li a.cont__container p { margin-top: 4px; }
#global__sidebar .sidebar__container ul li a.parking__container img { width: 21.5px; }
#global__sidebar .sidebar__container ul li a.parking__container p { margin-top: 5px; }
#global__sidebar .sidebar__container ul li .submenu__list { display: none; }
#global__sidebar .sidebar__container ul li .submenu__list li a p { margin-left: 0; }
#global__sidebar .sidebar__container ul li .submenu__list li.active a { background: #4490bb; }
#global__sidebar .sidebar__container ul li .submenu__list li.active a p { font-weight: bold; }

.dashboard #global__sidebar .sidebar__container > ul > li:first-child a { background: #4490bb; }
.dashboard #global__sidebar .sidebar__container > ul > li:first-child a p { font-weight: bold; }

.container #global__sidebar .sidebar__container > ul > li:nth-of-type(5) a { background: #4490bb; }
.container #global__sidebar .sidebar__container > ul > li:nth-of-type(5) a p { font-weight: bold; }

.parking #global__sidebar .sidebar__container > ul > li:nth-of-type(6) a { background: #4490bb; }
.parking #global__sidebar .sidebar__container > ul > li:nth-of-type(6) a p { font-weight: bold; }

/**************************************
dashboard.scss
***************************************/
.dashboard .main__container .content__main .content__inner .inner__container:nth-of-type(3) .container__inner span { margin-top: 30px; display: block; font-weight: bold; }

/**************************************

transpo.scss

***************************************/
.transpo .main__container .content__main .content__inner .inner__container .column__item:first-child { width: calc(100% - 440px); }
.transpo .main__container .content__main .content__inner .inner__container .column__item:first-child .container__inner:first-child h2 { border-bottom: 0; padding-bottom: 5px; }
.transpo .main__container .content__main .content__inner .inner__container .column__item:first-child .container__inner:first-child .note--red { color: #e60012; font-size: 13px; }
.transpo .main__container .content__main .content__inner .inner__container .column__item:first-child .note--light { margin-top: 30px; font-size: 13px; color: #999; }
.transpo .main__container .content__main .content__inner .inner__container .column__item:first-child .note--light + .container__inner { margin-top: 15px; }
/*.transpo .main__container .content__main .content__inner .inner__container .column__item:last-child { width: 425px; }*/
.transpo .main__container .content__main .content__inner .inner__container .column__item:last-child select { border-top: 0; }
.transpo .main__container .content__main .content__inner .inner__container .column__item:last-child select + input[type="submit"] { min-width: auto; }
.transpo .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container a { width: calc(50% - 7.5px); padding: 13px 0; }
.transpo .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container a:first-child { margin-right: 15px; }
.transpo .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container + p { margin-top: 15px; font-size: 13px; color: #666; line-height: 1.5; }
.transpo .main__container .content__main .content__inner .inner__container .column__item .agree__container { margin-top: 20px; display: table; width: 100%; }
.transpo .main__container .content__main .content__inner .inner__container .column__item .agree__container .column__item { float: none; display: table-cell; width: 50%; margin-right: 0; vertical-align: middle; }
.transpo .main__container .content__main .content__inner .inner__container .column__item .agree__container .column__item:last-child .btn-primary-fill { margin-left: auto; }
.transpo .main__container .content__main .content__inner .inner__container .column__item .agree__container .column__item .btn-primary-fill { width: 130px; padding: 13px 0; text-align: center; }
.transpo .main__container .content__main .content__inner .column__container { width: 100%; margin-top: 30px; }
.transpo .main__container .content__main .content__inner .column__container::before, .transpo .main__container .content__main .content__inner .column__container::after { content: ''; display: table; }
.transpo .main__container .content__main .content__inner .column__container::after { clear: both; }
.transpo .main__container .content__main .content__inner .column__container .file__upload { position: relative; }
.transpo .main__container .content__main .content__inner .column__container .file__upload .btn__csv { width: 170px; }
.transpo .main__container .content__main .content__inner .column__container .file__upload input[type="file"] { width: 100%; height: 100%; padding: 0; position: absolute; left: 0; top: 0; opacity: 0; }
.transpo .main__container .content__main .content__inner .column__container p.note { margin-top: 15px; color: #e60012; font-size: 13px; font-weight: bold; display: inline-block; }
.transpo .main__container .content__main .content__inner .column__container .column__item { width: calc(50% - 7.5px) !important; }
.transpo .main__container .content__main .content__inner .column__container .column__item input[type="text"], .transpo .main__container .content__main .content__inner .column__container .column__item select { background: transparent; padding: 16px 21px; font-size: 15px; border: 1px solid #e5e5e5 !important; box-sizing: border-box; }
.transpo .main__container .content__main .content__inner .column__container .column__item input { width: 100%; }
.transpo .main__container .content__main .content__inner .column__container .column__item input[type="submit"] { width: 170px; font-size: 15px; padding-top: 16px; padding-bottom: 16px; }
.transpo .main__container .content__main .content__inner .column__container .column__item input[type="submit"], .transpo .main__container .content__main .content__inner .column__container .column__item .select__container { float: left; }
.transpo .main__container .content__main .content__inner .column__container .column__item .select__container { display: block; width: calc(100% - 185px); margin-right: 15px; }
.transpo .main__container .content__main .content__inner .column__container .column__item select:invalid { color: #e5e5e5; }
.transpo .main__container .content__main .btn__submit { margin-top: 15px; margin-bottom: 50px; padding: 13px 0; width: 170px; margin-left: auto; }

/**************************************
	info.scss
***************************************/
.info .main__container .content__main .content__inner .inner__container .column__item:first-child { width: calc(100% - 440px); }
/*.info .main__container .content__main .content__inner .inner__container .column__item:last-child { width: 425px; }*/
.info .main__container .content__main .content__inner .inner__container .column__item:last-child select { border-top: 0; }
.info .main__container .content__main .content__inner .inner__container .column__item:last-child h2 + h2 { margin-top: 15px; }
.info .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container a { width: calc(50% - 7.5px); padding: 13px 0; }
.info .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container a:first-child { margin-right: 15px; }
.info .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container + p { margin-top: 15px; font-size: 13px; color: #666; line-height: 1.5; }
.info .main__container .content__main .content__inner .inner__container input[type="text"] { margin-top: 16px; width: 100%; padding: 17px 21px; background: #f8f9fa; font-size: 16px; font-weight: bold; border: 1px solid #e5e5e5; box-sizing: border-box; }
.info .main__container .content__main .content__inner .inner__container .timer__container { padding-top: 25px; }
.info .main__container .content__main .content__inner .inner__container .timer__container p { line-height: 1.5; }
.info .main__container .content__main .content__inner .inner__container .timer__container .datetime__input { max-width: 305px; }

/**************************************
	container.scss
***************************************/
.container .main__container .content__main .content__inner .inner__container .column__item:first-child { width: calc(100% - 440px); }
/*.container .main__container .content__main .content__inner .inner__container .column__item:last-child { width: 425px; }*/
.container .main__container .content__main .content__inner .inner__container .column__item:last-child select { border-top: 0; }
.container .main__container .content__main .content__inner .inner__container .column__item:last-child h2 + h2 { margin-top: 15px; }
.container .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container a { width: calc(50% - 7.5px); padding: 13px 0; }
.container .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container a:first-child { margin-right: 15px; }
.container .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container + p { margin-top: 15px; font-size: 13px; color: #666; line-height: 1.5; }
.container .main__container .content__main .content__inner .inner__container .column__item input[type="text"] { margin-top: 16px; width: 100%; padding: 17px 21px; background: #f8f9fa; font-size: 16px; font-weight: bold; border: 1px solid #e5e5e5; box-sizing: border-box; }

/**************************************
	parking.scss
***************************************/
.parking .main__container .content__main .content__inner .inner__container .column__item:first-child { width: calc(100% - 440px); }
/*.parking .main__container .content__main .content__inner .inner__container .column__item:last-child { width: 425px; }*/
.parking .main__container .content__main .content__inner .inner__container .column__item:last-child select { border-top: 0; }
.parking .main__container .content__main .content__inner .inner__container .column__item:last-child h2 + h2 { margin-top: 15px; }
.parking .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container a { width: calc(50% - 7.5px); padding: 13px 0; }
.parking .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container a:first-child { margin-right: 15px; }
.parking .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container + p { margin-top: 15px; font-size: 13px; color: #666; line-height: 1.5; }
.parking .main__container .content__main .content__inner .inner__container .column__item input[type="text"] { margin-top: 16px; width: 100%; padding: 17px 21px; background: #f8f9fa; font-size: 16px; font-weight: bold; border: 1px solid #e5e5e5; box-sizing: border-box; }

/**************************************
	voice.scss
***************************************/
.voice .main__container .content__main .content__inner .inner__container .column__item:first-child { width: calc(100% - 440px); }
/*.voice .main__container .content__main .content__inner .inner__container .column__item:last-child { width: 425px; }*/
.voice .main__container .content__main .content__inner .inner__container .column__item:last-child h2 + h2 { margin-top: 30px; border-bottom: 0; }
.voice .main__container .content__main .content__inner .inner__container .column__item:last-child h2 + .custom__upload { margin-top: 0px; }
.voice .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container a { width: calc(50% - 7.5px); padding: 13px 0; }
.voice .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container a:first-child { margin-right: 15px; }
.voice .main__container .content__main .content__inner .inner__container .column__item:last-child .btn__container + p { margin-top: 15px; font-size: 13px; color: #666; line-height: 1.5; }
.voice .main__container .content__main .content__inner .inner__container input[type="text"] { margin-top: 16px; width: 100%; padding: 17px 21px; background: #f8f9fa; font-size: 16px; font-weight: bold; border: 1px solid #e5e5e5; box-sizing: border-box; }

/*# sourceMappingURL=main-admin.css.map */