/* 
 * Custom adjustments
 * 
 * 
 */
.inner__container .column__item:last-child .btn__container button{width:calc(50% - 7.5px);padding:13px 0}
.inner__container .column__item:last-child .btn__container button:first-child{margin-right:15px}
.inner__container .container__inner .btn__container button{float:left}

html .main__container .action__container .action__column:last-child .popup__container button{margin-top:20px}
html .main__container .action__container .action__column:last-child .popup__container input, html .main__container .action__container .action__column:last-child .popup__container button
{
    float: none;
    width: 100%;
    padding: 18px 20px;
    box-sizing: border-box;
}

html .main__container .action__container .action__column:last-child input,html .main__container .action__container .action__column:last-child button{float:right}
html .main__container .action__container .action__column:last-child button{margin-right:15px}

.transpo .main__container .content__main .content__inner .column__container .column__item input[type="email"]
{
    background: transparent;
    padding: 16px 21px;
    font-size: 15px;
    border: 1px solid #e5e5e5 !important;
    box-sizing: border-box;
}

.transpo .main__container .content__main .content__inner .column__container .column__item select:required{ color: black;}

.pagination__container .column__container .column__item .current a
{
    color: #367193;
    font-weight: 500;
}

.pagination__container .column__container .column__item .next_page a
{
    float: none;
    width: 50%;
    display: table-cell;
    /* vertical-align: middle; */
    font-weight: 500;
}

html .main__container .action__container .action__column:last-child .popup__container input[type="email"]
{
    margin-top: 15px;
    color: #367193;
    text-decoration: underline;
}

.hidden {
    display: none !important;
}

.img-width_auto{
  width: 100%;
}

.lbl-file{
  display: block;
}

.note--red{
  color: #e60012;
  font-size: 13px;
  margin-top: 2px;
  text-align: left;
}

/**************************************
    MIXINS
***************************************/
/**************************************
    TABLE
***************************************/
.transpo__create table tr td {
  position: relative; }

.js-div-pic {
  position: relative;
  overflow: visible; }
.js-div-pic .pic__preview--horizontal {
  width: 355px;
  height: 355px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3671936e;
  margin-top: 20px; }
.js-div-pic .pic__preview--horizontal img {
  width: 100%;
  height: auto; }
.js-div-pic .pic__preview--vertical {
  width: 355px;
  height: 355px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3671936e;
  margin-top: 20px; }
.js-div-pic .pic__preview--vertical img {
  height: 100%;
  width: auto; }

/**************************************
	BUTTONS
***************************************/
.btn-delete {
  position: absolute;
  height: 35px;
  width: 35px;
  left: 380px;
  bottom: 8px;
  /* display: inline-block; */
  line-height: 1;
  text-align: center;
  padding: 0;
  font-size: 13px;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  border: 1px solid #e60012;
  background-color: #fff;
  color: #fff;
  height: 35px;
  width: 35px; }
.btn-delete::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 34px;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat; }
.btn-delete:hover {
  border: 1px solid #fff;
  background-color: #e60012;
  color: #fff; }
.btn-delete:hover::before {
  background-image: url("../img/common/ico-minus-white.png"); }
.btn-delete::before {
  background-image: url("../img/common/ico-minus-red.png"); }

.btn-add-sm {
  position: relative;
  height: 35px;
  width: 35px;
  left: 430px;
  bottom: 42px;
  display: block;
  line-height: 1;
  text-align: center;
  padding: 0;
  font-size: 13px;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  border: 1px solid #367193;
  background-color: #367193;
  color: #fff; }
.btn-add-sm::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 34px;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/common/ico-plus-white.png"); }
.btn-add-sm:hover {
  border: 1px solid #367193;
  background-color: #fff;
  color: #367193; }
.btn-add-sm:hover::before {
  background-image: url("../img/common/ico-plus-primary.png"); }
.login main .access__container .input__container .inner__container .login__container table p.txt__error::before { content: ''; }
/* modal dialog box */
.modal_dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* padding-top: 100px; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal_dialogbox {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    min-width: 250px;
    font-size: 15px;
    border-radius: 5px; 
    transition: all 0.25s ease;
}

.modal_dialogbox__content {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #ccc;
}

.modal_dialogbox__buttons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}


.modal_dialogbox__buttons a {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
}

.modal_dialogbox__buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  width: calc(50% - 1px);
  background: white;
  cursor: pointer;
  border-left: 1px solid #ccc;
}

.info__list .action__column .btn-red-invert {
  display: inline-block;
  vertical-align: middle;
}

.info__list .action__column .btn-primary-fill {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  padding: 12px 0;
  width: 180px;
}

html .info__list .main__container .content__main .content__inner .inner__container .list__template tr th:nth-of-type(2),
html .info__list .main__container .content__main .content__inner .inner__container .list__template03 tr td:nth-of-type(2) {
  width: 92px;
}

/* right sidebar */
.main__container .content__main .content__inner .inner__container .column__item {
  transition: all 0.25s linear;
}

.main__container .content__main .content__inner .inner__container .column__item:last-child {
  /* width: 410px; */
}

.main__container .content__main .content__inner .inner__container .column__item.right__column {
  margin-left: 15px;
  position: relative;
}

.main__container .content__main .content__inner .inner__container .column__item.left__column {
  position: relative;
  width: calc(100% - 455px)
}

.main__container .content__main .content__inner .inner__container .column__item.left__column .toggle_rsidebar {
  position: absolute;
  content: ' ';
  top: 22px;
  right: -15px;
  width: 30px;
  height: 100px;
  background-image: url(../img/common/ico_sidebarnav_right_01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px auto;
  background-color: #fff;
  z-index: 5;
  cursor: pointer;
}

.main__container .content__main .content__inner .inner__container .column__item.left__column .toggle_rsidebar::before {
  position: absolute;
  content: ' ';
  top: -7px;
  right: 0;
  width: 15px;
  height: 107px;
  /*box-shadow: 0px 0px 11.64px 0.36px rgba(21, 27, 29, 0.06);*/
  box-shadow: 5px 6px 6px -1px rgba(21, 27, 29, 0.06);
}

.main__container .content__main .content__inner.js--rsidebarclosed .inner__container .column__item.right__column {
  width: 0;
}
.main__container .content__main .content__inner .inner__container .column__item.right__column,
.main__container .content__main .content__inner .inner__container .column__item.right__column .container__inner {
  overflow: hidden;
  width: 410px;
}
.main__container .content__main .content__inner.js--rsidebarclosed .inner__container .column__item.right__column .container__inner {
}
.main__container .content__main .content__inner.js--rsidebarclosed .inner__container .column__item.left__column {
  width: calc(100% - 50px);
}
.main__container .content__main .content__inner.js--rsidebarclosed .inner__container .column__item.left__column .toggle_rsidebar {
  background-image: url(../img/common/ico_sidebarnav_left_01.png);
}


#global__sidebar .sidebar__container ul li a.user__container img { width: 21.5px; }

/* 
 * USER
 * 
 */
html .main__container .content__main .content__inner .inner__container .list__template tr:first-child th{
  position: initial;
  min-width: 150px;
  width: 20%;
  text-align: left;
  color: black;
}

html .main__container .content__main .content__inner .inner__container .list__template tr:nth-of-type(even) th, html .main__container .content__main .content__inner .inner__container .list__template tr:nth-of-type(even) td{
  background: white
}

.user__create .select__container::before{
    content: '';
    position: absolute;
    right: 95px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 7.5px 0 7.5px;
    border-color: #999999 transparent transparent transparent;
    z-index: 9;
    margin-top: 2%;
}

.user__create .select__container select{
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #e5e5e5;
    background: #fff;
    -webkit-appearance: none;
    border-radius: 0;
}

.btn-user__save{
    width: calc(20% - 7.5px);
    float: right;
    margin-top: 15px;
    display: block;
    background: #367193;
    padding: 18px 0;
    color: #fff;
    text-align: center;
    border: 1px solid #367193;
    box-sizing: border-box;
    transition: all .2s linear;
}