header nav .main_subnav.type3 {
	width: 225px;
    background-color: transparent;
}

header nav .main_subnav.type3 .subnav__inner .subnav_item {
    width: 100%;
    margin: 0 0 3px;
    padding: 12px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

header nav .menu-tabs ul li:nth-of-type(3) {
	display: none;
}

.en {
	line-height: 1.5;
}

.en h3 {
	font-size: 20px;
}

.en ul,
.en ol {
	padding-left: 20px;
}

.en .bordered {
	border: 1px solid #ccc;
}

.en .border--bottom {
	border-bottom: 1px solid #ccc;
}

.table__container {
	width: 100%;
}

.table__container--balance {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-width: 500px;
}

.table__container--balance table.en-table02 {
	height: 100%;
	width: 50% !important;
}

.en-table0,
.en-table01,
.en-table02 {
	min-width: 150px;
	width: 100% !important;
	margin: 10px auto !important;
}
.en-table01 tr {
	max-width: 100%;
}
.en-table01 tr td {
    border: 1px solid #d5d5d5;
    border-collapse: collapse;
    padding: 10px;
    line-height: 1.8;
}
.en-table01 tr td ol,
.en-table01 tr td ul {
	padding-left: 20px;
}

.en-table02 tr td:last-of-type {
	text-align: right;
	background-color: #cbecf3;
}

.en-table02 tr th:last-of-type {
	background-color: #cbecf3 !important;
}

.en-table02 tr td,
.en-table02 tr th {
    border-collapse: collapse;
    padding: 10px;
    line-height: 1.8;
    vertical-align: top;
    border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.en-table02 tr th {
	text-align: left;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.en-table02 tr span {
	padding-left: 15px;
	display: block;
}

.en-table02 tr span.ind--2 {
	padding-left: 30px;
}

.en-table02 tr span.ind--3 {
	padding-left: 45px;
}

.ind--1 {
	padding-left: 15px !important;
}

.img__container {
    max-width: 750px;
    width: 100%;
    margin: 5px auto;
}

.img__container--full {
    width: 100%;
    margin: 5px auto;
}

.img__container--single {
	max-width: 450px;
	width: 100%;
	margin: 20px auto;
}

.img__container--single .caption {
	text-align: center;
}

.text--right {
	text-align: right;
}

.text--f12 {
	font-size: 12px !important;
}

.list--square {
	list-style-type: square;
}

.list--circle {
	list-style-type: circle;
}

.top-en.child .child__kv .container .kv__container {
	height: 77vh;
}

.top-en.child .child__kv .container .kv__container .kv__title {
	text-align: center;
}

.top-en__writeup {
	line-height: 1.5;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

.corporate_overview .corpo__table tr td:first-of-type {
	background-color: #d9e3ed;
}

.financial table tr:first-of-type td {
	border: none;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.financial__container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	min-width: 900px;
}

.financial .financial__tbl--balance {
	width: calc(68% - 20px);
}

.financial .financial__tbl--statement {
	width: 32%;
}


.financial__container table.en-table02 tr:first-of-type td,
.financial__container table.en-table02 tr:nth-of-type(2) th,
.financial__container .table__container--balance table.en-table02 tr:last-of-type td {
	height: 30px !important;
	background-color: #fff;
}

.financial__container .table__container--balance table.en-table02 tr:last-of-type td:last-of-type {
	background-color: #cbecf3;
}

.financial__container table.en-table02 tr:nth-of-type(2) th,
.financial__container table.en-table02 tr:nth-of-type(3) td {
	text-align: center;
}

.on-time__content .col .img__container,
.lifeline__content .col .img__container {
	max-height: 320px;
	overflow: hidden;
}

.main-data .img__container h3 {
	font-size: 24px;
	font-weight: 600;
	color: #367193;
	text-align: left;
}

.main-data .img__container h3 span {
	font-size: 18px;
}

.en.main-data .row__container.type2 {
	align-items: flex-start;
}

.en.main-data .row__container .col:first-of-type {
	width: calc(57% - 20px);
}

.en.main-data .row__container .col:last-of-type {
	width: 40% !important;
}

.en.service .img__container {
	margin-top: 50px;
}

@media screen and (max-width: 767px) {
	header nav .main_subnav.type3 {
		width: 100%;
	    background-color: transparent;
	}

	header nav .main_subnav.type3 .subnav__inner .subnav_item {
		margin: 0;
	}

	.table__container {
		width: 100%;
		overflow-x: scroll;
	}
	.main-data .img__container h3 {
		font-size: 20px;
		text-align: center;
	}

	.main-data .img__container h3 span {
		font-size: 16px;
	}


	.en.main-data .row__container .col:first-of-type {
		width: 100% !important;
	}

	.en.main-data .row__container .col:last-of-type {
		width: 100% !important;
	}

	footer .footer__row .footer_column:not(:first-of-type) {
		padding-top: 10px;
	}

	footer .footer__row .footer_column > a {
		border: none;
		padding-top: 20px;
	}

	footer .footer__row .footer_column:not(:first-of-type) a {
		border-top: 2px solid #fff;
	}

	footer .footer__row:last-of-type {
		border-top: 2px solid #fff;
	}

	footer .footer__row .footer_column:not(:first-of-type) ul li a {
		border: none;
	}

	footer .footer__row .footer_column ul li a {
		padding-top: 0;
	}
}